/* impostazioni generali (assegnate con frequenza) */
*{
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
/* colori principali */
.cl-b{
  background-color: #0C325A;
}
.cl-v{
  background-color: #7CBB02;
}
.cl-g{
  background-color: #D3D3D3;
}
/* /colori principali/ */

.container{
  width: 80%;
  margin: auto;
}

/* float */
.fl{
  float: left;
}
/* /float/ */

/* clearfix */
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
/* /clearfix/ */

/* DA CANELLARE */
header{
  height: 400px;
}
main{
  height: 400px;
  background-color: green;
}
footer{
  height: 400px;
}
/* DA CANCELLARE  */
/* /impostazioni generali (assegnate con frequenza)/ */



/* header */
/* nav */

/* logo */
/* /logo/ */

/* menu */
/* l */
.m-l{}
/* /l/ */

/* r */
.m-r{}
/* /r/ */

/* l-r */
/* /l-r/ */
/* /menu/ */

/* banner */
/* /banner/ */
/* /nav/ */

/* header-bottom */
.header-bottom{
  text-align: center;
}
.header-bottom h2{
  color: black;
  padding-top: 30px;
  padding-bottom: 10px;
}
.header-bottom p{
  color: gray;
  padding-bottom: 30px;
}
/* /header-bottom/ */
/* /header/ */



/* corpo */
/* riga */
/* /riga/ */

/* colonna */
/* /colonna/ */
/* /corpo/ */



/* footer */
/* /footer/ */
